<!DOCTYPE HTML>
<html>
<head>
<title>Virtual Morse Relay</title>
<link rel="stylesheet" href="stylesheets/style.css" type="text/css">
</head>
<body>
	<div id="wrapper">
        <div id="header">
            <p><input type="image" id="title" alt="WebPageTitle" src="/images/title.png"></p>
        </div>
        <div id="content">
			<div id="leftside">
				<br>
				<table id="wiretable" bgcolor="white">
				<tr>
				<th>Wire:</th>
				<th>OPR Count:</th>
				</tr>
				<tr>
				<td>Alpha</td>
				<td>-</td>
				</tr>
				<tr>
				<td>Bravo</td>
				<td>-</td>
				</tr>
				<tr>
				<td>Charlie</td>
				<td>-</td>
				</tr>
				<tr>
				<td>Delta</td>
				<td>-</td>
				</tr>
				<tr>
				<td>Ben Affleck</td>
				<td>-</td>
				</tr>
				</table>
				<br>
				<select name="Wires" id="Wires" size="5">
				<option value="Alfa" Selected>Alfa</option>
				<option value="Bravo">Bravo</option>
				<option value="Charlie">Charlie</option>
				<option value="Delta">Delta</option>
				<option value="Ben Affleck">Ben Affleck</option>
				</select>
				<button type="button" onclick="changeWire();">Join Wire</button> 
				<br>
				<br>
				<br>
				<p>Receiving Ticker</p>
				<textarea rows="10" cols="40" id="TickerIn" wrap="hard" readonly></textarea> 
			</div>
			<div id="rightside">
				<br>
				<img src="/images/lightoff.png" id="Light" alt="LightBulb" width="50" height="50">
				<input type="image" id="Clicker" alt="MorseClicker" src="/images/button.png">
				<br>
				<br>
				<input type="radio" name="mode" value="Beginner" checked> Beginner Mode
				<br>
				<input type="radio" name="mode" value="Advanced"> Advanced Mode
				<br>
				<br>
				<br>
				<br>
				<p>Transmitting Ticker</p>
				<textarea rows="10" cols="40" id="TickerOut" wrap="hard" readonly></textarea>
			</div>
       </div>
    </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/javascript"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
  <script src='http://code.jquery.com/jquery-latest.min.js' type='text/javascript'></script>
  <script src='/javascripts/jquery.longclick-1.0.min.js' type='text/javascript'></script>
  <script src='/javascripts/howler.min.js' type='text/javascript'></script>
  <script src='/javascripts/jquery.longclick-1.0.min.js' type='text/javascript'></script>
  <script src="/socket.io/socket.io.js" type="text/javascript"></script>
  <script src='/javascripts/morseNodeClient.js' type='text/javascript'></script>
</body>
</html>