@charset "utf-8";
@import url("reset.css");

body {
	/*
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333
	*/
	background-image: url("/images/grey.png");
	padding: 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12pt;
}

p {
    padding: 10px;
}

FORM {font-size: 0; }

FORM DL {
    display: inline-block;
    font-size: 12pt;
    vertical-align: top;
    /*width: 200px;*/ /* Specify width if needed. */
}

table,th,td {
	border: 1px solid black;
}

#wrapper {
    margin: 0 auto;
    width: 1080px;
}

#header {
    float: left;
    height: 75px;
    width: 1080px;
    background-color: transparent;
}

#content {
    background-color: transparent;
    width: 1080px;
	position:relative;
}

#leftside {
	position: absolute;
	left: 0px;
	top: 100px;
	width: 400px;
	height: 330px;
	background-color: rgb(221, 221, 221);
	padding: 10px;
	font-size: 12pt;
	color: rgb(136, 136, 136);
	text-align: center;
	font-family: Verdana,Geneva,sans-serif;
}

#rightside {
	position: absolute;
	left: 500px;
	top: 100px;
	width: 400px;
	height: 330px;
	background-color: rgb(221, 221, 221);
	padding: 10px;
	font-size: 12pt;
	color: rgb(136, 136, 136);
	text-align: center;
	font-family: Verdana,Geneva,sans-serif;
}

.block {
	position: absolute;
	left: 400px;
	top: 250px;
	width: 100px;
	height: 20px;
	background-color: rgb(221, 221, 221);
}

#modes {
	float: right;
}

#wireTable {
	position: relative;
	left: 10px;
	top:20px;
}

#tickerIn {
	position: relative;
	top:-45px;
}

#tickerInLabel {
	position: relative;
	top:-45px;
}

#wires {
	position: relative;
	top: -75px;
	left: 80px;
}

#changeButton {
	position: relative;
	top: -110px;
	left: 100px;
}

#light {
	position: relative;
	top: -50px;
	left: -20px;
}

#clicker {
	position: relative;
	left: 10px;
}

#legend {
	position: relative;
	top: 390px;
	left: 40px;
}